.page {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.page__goal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-goal__title {
  margin: 0;
  text-align: center;
  font-size: 40px;
  margin-bottom: 75px;
}

.form {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.form__textarea {
  height: 30px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 30px;
  padding: 15px;
  height: 100px;
}

.form__button {
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.page__goal_display_none {
  display: none;
}

.goal__title {
  margin: 0;
  margin-bottom: 30px;
}

.goal__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  max-width: 400px;
  word-wrap: break-word;
}

.goal__text:last-of-type {
  margin: 0;
}

@media (max-width: 530px) {
  .page__goal {
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }

  .form {
    width: 100%;
  }

  .create-goal__title {
    font-size: 30px;
  }

  .form__button {
    font-size: 17px;
  }
}

@media (max-width: 440px) {
  .page__goal {
    padding: 0 30px;
  }

  .create-goal__title {
    font-size: 24px;
  }

  .create-goal__title {
    margin-bottom: 50px;
  }

  .goal__text {
    text-align: center;
  }
}
