html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  min-width: 360px;
  height: inherit;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);
}

h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid #000;
  padding: 40px;
  background-color: #fff;
}

.container__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
}

.container__list {
  display: grid;
  gap: 10px;
  padding-left: 24px;
  list-style: none;
}

.container__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container__list-item::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../svg/dialog.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.container__link {
  display: block;
  color: #000;
  text-decoration: none;
}

.container__link:hover {
  text-decoration-color: #80d994;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}
