body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(71 71 121);
}

h1,
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

h1 {
  display: inline-block;
  border-radius: 50px;
  padding: 20px;
  color: tomato;
  font-weight: normal;
  font-size: 24px;
  background-color: #1e1e1e;
}

.game-zone {
  position: relative;
  flex-grow: 1;
  height: 100%;
  padding: 80px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  place-items: center;
  place-content: center;
  height: 100%;
  color: #fff;
  font-size: 18px;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1e1e1e;
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.03);
}
